<!-- Top bar Start -->
<div class="top-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <i class="fa fa-envelope"></i>
        r2wteam@email.com
      </div>
      <div class="col-sm-6">
        <i class="fa fa-phone-alt"></i>
        +012-345-6789
      </div>
    </div>
  </div>
</div>
<!-- Top bar End -->

<!-- Nav Bar Start -->
<div id="navbar" class="nav">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a href="#" class="navbar-brand">Danh mục</a>
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarCollapse"
      >
        <div class="navbar-nav mr-auto">
          <a href="/" class="nav-item nav-link">Trang chủ</a>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
              >Phân loại</a
            >
            <div class="dropdown-menu">
              <%categories.forEach((cate) => {%>
              <a href="/products/resource/<%=cate.slugName%>" class="dropdown-item"
                ><%=cate.name%></a
              >
                <%})%>
            </div>
          </div>
          <a href="/cart" class="nav-item nav-link">Giỏ hàng</a>
          <a href="/checkout" class="nav-item nav-link">Thanh toán</a>
          <a href="/contact" class="nav-item nav-link">Liên hệ</a>
        </div>
        <div class="navbar-nav ml-auto">
          <%if(user){%>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
              ><%=user.firstName%> <%=user.lastName%></a
            >
            <form class="dropdown-menu" id="user-act" method="POST" action="/user/logout">
              <a href="/user/account/dashboard" class="dropdown-item">Bảng điều khiển</a>
              <a href="/user/wishlist" class="dropdown-item">Yêu thích</a>
              <a href="/user/logout" class="dropdown-item post" id="logout">Đăng xuất</a>
            </form>
          </div>
          <a href="/user/auth" class="nav-item nav-link"><i class="fas fa-lock"></i></a>
          <%}else{%>
            <a href="/user/auth" class="nav-item nav-link">Đăng kí & Đăng nhập</i></a>
          <%}%>

        </div>
      </div>
    </nav>
  </div>
</div>
<!-- Nav Bar End -->

<!-- Bottom Bar Start -->
<div class="bottom-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="logo">
          <a href="/">
            <img src="/img/logo.png" alt="Logo" />
          </a>
          <a href="/"> R2W STORE </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="search">
          <input type="text" placeholder="Search" class='text-search-global' value="<%=query%>"/>
          <button action="/search?q=" type="submit" class="btn-search-global"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="user">
          <a href="/user/wishlist" class="btn wishlist">
            <i class="fa fa-heart"></i>
            <%if(user && user.likes){%>
              <span class="cart-count-like">(<%=user.likes.length%>)</span>
              <%}else{%>
                <span class="cart-count-like">(0)</span>
                <%}%>
          </a>
          <a href="/cart" class="btn cart">
            <i class="fa fa-shopping-cart"></i>
            <%if (cart.totalQuantity) {%>
              <span class="cart-count-add">(<%=cart.totalQuantity%>)</span>
              <%}else{%>
                <span class="cart-count-add">(0)</span>
              <%}%>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bottom Bar End -->
