<!-- Side Bar Start -->
<div class="col-lg-<%=col%> sidebar">
  <div class="sidebar-widget category">
    <h2 class="title">Phân loại</h2>
    <nav class="navbar bg-light">
      <ul class="navbar-nav">
        <% categories.forEach(cate => { %>
        <li class="nav-item">
          <a class="nav-link" href="/products/resource/<%=cate.slugName%>"
            ><i class="fa fa-<%=cate.icon%>"></i><%=cate.name%></a
          >
        </li>
        <%})%>
      </ul>
    </nav>
  </div>

  <div class="sidebar-widget brands">
    <h2 class="title">Thương hiệu</h2>
    <ul>
      <%const index = categories.filter(fil => fil.name === type)%>
      <%ourBrands.forEach((brand) => {%>
      <li>
        <a
          href="/products/resource/<%=index[0].slugName%>?producer=<%=brand.name%>"
          ><%=brand.name%> </a
        ><span>(<%=brand.count%>)</span>
      </li>
      <%})%>
    </ul>
  </div>

  <div class="sidebar-widget tag">
    <h2 class="title">Tags</h2>
    <a href="#">Lorem ipsum</a>
    <a href="#">Vivamus</a>
    <a href="#">Phasellus</a>
    <a href="#">pulvinar</a>
    <a href="#">Curabitur</a>
    <a href="#">Fusce</a>
    <a href="#">Sem quis</a>
    <a href="#">Mollis metus</a>
    <a href="#">Sit amet</a>
    <a href="#">Vel posuere</a>
    <a href="#">orci luctus</a>
    <a href="#">Nam lorem</a>
  </div>
</div>
<!-- Side Bar End -->
