<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header'); %>

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
      <div class="container-fluid">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Products</a></li>
          <li class="breadcrumb-item active">Login & Register</li>
        </ul>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Login Start -->
    <div class="login">
      <div class="container-fluid">
        <div class="row">
          <form class="col-lg-6" method="POST" action="/user/register">
            <div class="register-form">
              <div class="row">
                <div class="col-md-6">
                  <label>First Name</label>
                  <input
                    class="form-control"
                    type="text"
                    name="firstName"
                    value="<%=data.firstName || ''%>"
                  />
                  <%if (respond.msg === "ValidatorError" && respond.firstName)
                  {%>
                  <div class="alert p-1 t-1"><%=respond.firstName%></div>
                  <%}%>
                </div>
                <div class="col-md-6">
                  <label>Last Name</label>
                  <input
                    class="form-control"
                    type="text"
                    name="lastName"
                    value="<%=data.lastName || ''%>"
                  />
                  <%if (respond.msg === "ValidatorError" && respond.lastName)
                  {%>
                  <div class="alert p-1 t-1"><%=respond.lastName%></div>
                  <%}%>
                </div>
                <div class="col-md-6">
                  <label>E-mail</label>
                  <%if (respond.msg === 'ValidatorError') {%>
                  <input
                    class="form-control"
                    type="text"
                    name="email"
                    value="<%=data.email%>"
                  />
                  <%}else{%>
                  <input
                    class="form-control"
                    type="text"
                    name="email"
                    value=""
                  />
                  <%}%> <%if (respond.msg === "ValidatorError" && respond.email)
                  {%>
                  <div class="alert p-1 t-1"><%=respond.email%></div>
                  <%}%>
                </div>
                <div class="col-md-6">
                  <label>Mobile No</label>
                  <input
                    class="form-control"
                    type="text"
                    name="phone"
                    value="<%=data.phone || ''%>"
                  />
                  <%if (respond.msg === "ValidatorError" && respond.phone) {%>
                  <div class="alert p-1 t-1"><%=respond.phone%></div>
                  <%}%>
                </div>
                <div class="col-md-6">
                  <label>Password</label>
                  <input
                    class="form-control"
                    type="password"
                    name="password"
                    value="<%respond.msg === 'ValidatorError' ? data.email :
                  ''%>"
                  />
                  <%if (respond.msg === "ValidatorError" && respond.password)
                  {%>
                  <div class="alert p-1 t-1"><%=respond.password%></div>
                  <%}%>
                </div>
                <div class="col-md-6">
                  <label>Retype Password</label>
                  <input
                    class="form-control"
                    type="password"
                    name="retypePassword"
                  />
                  <%if (respond.msg === "ValidatorError" &&
                  respond.retypePassword) {%>
                  <div class="alert p-1 t-1"><%=respond.retypePassword%></div>
                  <%}%>
                </div>
                <div class="col-md-12">
                  <button class="btn" type="submit">Sign up</button>
                </div>
              </div>
            </div>
          </form>
          <div class="col-lg-6">
            <form class="login-form" method="POST" action="/user/login">
              <div class="row">
                <div class="col-md-6">
                  <label>E-mail / Username</label>
                  <%if (respond.msg === 'ValidatorError2') {%>
                  <input
                    class="form-control"
                    type="text"
                    name="email"
                    value="<%=data.email%>"
                  />
                  <%}else{%>
                  <input
                    class="form-control"
                    type="text"
                    name="email"
                    value=""
                  />
                  <%}%> <%if (respond.msg === "ValidatorError2" &&
                  respond.user){%>
                  <div class="alert p-1 t-1"><%=respond.user%></div>
                  <%}%>
                </div>
                <div class="col-md-6">
                  <label>Password</label>
                  <input class="form-control" type="password" name="password" />
                  <%if (respond.msg === "ValidatorError2" && respond.password)
                  {%>
                  <div class="alert p-1 t-1"><%=respond.password%></div>
                  <%}%>
                </div>
                <div class="col-md-12">
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="newaccount"
                    />
                    <label class="custom-control-label" for="newaccount"
                      >Keep me signed in</label
                    >
                  </div>
                </div>
                <div class="col-md-12">
                  <button class="btn" type="submit">Sign in</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Login End -->

    <%- include('../partials/footer'); %> <%- include('../partials/script'); %>
  </body>
</html>
