<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<%- include('../partials/header', {query:''}); %>

		<!-- Breadcrumb Start -->
		<div class="breadcrumb-wrap">
			<div class="container-fluid">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
					<li class="breadcrumb-item"><a href="/">Sản phẩm</a></li>
					<li class="breadcrumb-item active">Đăng nhập & Đăng kí</li>
				</ul>
			</div>
		</div>
		<!-- Breadcrumb End -->

		<!-- Login Start -->
		<div class="login">
			<div class="container-fluid">
				<div class="row">
					<form
						class="col-lg-6"
						method="POST"
						action="/user/register"
						autocomplete="off"
					>
						<div class="register-form">
							<div class="row">
								<div class="col-md-6">
									<label>Họ</label>
									<input
										class="form-control"
										type="text"
										name="firstName"
										value=""
									/>
									<span class="d-none"></span>
								</div>
								<div class="col-md-6">
									<label>Tên</label>
									<input
										class="form-control"
										type="text"
										name="lastName"
										value=""
									/>
									<span class="d-none"></span>
								</div>
								<div class="col-md-6">
									<label>E-mail</label>
									<input
										class="form-control"
										type="text"
										name="email"
										value=""
									/>
									<span class="d-none"></span>
								</div>
								<div class="col-md-6">
									<label>Điện thoại</label>
									<input
										class="form-control"
										type="text"
										name="phone"
										value=""
									/>
									<span class="d-none"></span>
								</div>
								<div class="col-md-6">
									<label>Mật khẩu</label>
									<input
										class="form-control"
										type="password"
										name="password"
										value=""
									/>
									<span class="d-none"></span>
								</div>
								<div class="col-md-6">
									<label>Nhập lại mật khẩu</label>
									<input
										class="name form-control"
										type="password"
										name="retypePassword"
									/>
									<span class="d-none"></span>
								</div>
								<%if(respond.success){%>
								<div style="padding: 0 0 20px 15px">
									<span class="text-success"><%=respond.success%></span>
								</div>
								<%}%> <%if(respond.msg==='ValidatorError'){%>
								<div id="err-sign" style="padding: 0 0 20px 15px">
									<span class="text-danger"><%=respond.err%></span>
								</div>
								<%}%>
								<div class="col-md-12">
									<button id="sign-up" class="btn" type="submit">
										Đăng kí
									</button>
								</div>
							</div>
						</div>
					</form>

					<div class="col-lg-6" id="form-toggle">
						<form class="login-form" method="POST" action="/user/login">
							<div class="row">
								<div class="col-md-6 user-login">
									<label>E-mail / Tên người dùng</label>
									<input
										class="form-control"
										type="text"
										name="email"
										value="<%=data.email%>"
									/>
									<span class="d-none"></span>
								</div>
								<div class="col-md-6 user-login">
									<label>Mật khẩu</label>
									<input class="form-control" type="password" name="password" />
									<%if (respond.msg === "ValidatorError2" && respond.password)
									{%>
									<div style="font-size: 12px; margin: -10px 0 0 0">
										<span class="text-danger"><%=respond.password%></span>
									</div>

									<%}%>
								</div>
								<%if(respond.msg==='ValidatorError2'){%>
								<span
									style="font-size: 12px; margin: -8px 0 25px 15px"
									class="text-danger"
									><%=respond.err%></span
								>
								<%}%>
								<div class="col-12 d-flex">
									<div
										class="col-2"
										style="padding: 0; margin: 0px 10px 30px 0"
									>
										<a
											class="oauth-container btn darken-4 white black-text d-flex align-items-center"
											href="/user/google"
											style="text-transform: none"
										>
											<div class="left">
												<img
													width="20px"
													style="margin-right: 8px"
													alt="Google sign-in"
													src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
												/>
											</div>
											Google
										</a>
									</div>
									<div
										class="col-3"
										style="padding: 0; margin: 0px 10px 30px 0"
									>
										<a
											class="oauth-container btn darken-4 white black-text d-flex align-items-center"
											href="/user/facebook"
											style="text-transform: none"
										>
											<div class="left">
												<img
													width="20px"
													style="margin-right: 8px"
													alt="Facebook sign-in"
													src="https://www.sharethis.com/wp-content/uploads/2017/11/Facebook-share-icon.png"
												/>
											</div>
											Facebook
										</a>
									</div>
								</div>
								<div class="col-md-12">
									<%if(respond.success2){%>
									<div
										style="font-size: 15px; margin: -20px 0 25px 0"
										class="text-success"
									>
										<%=respond.success2%>
									</div>
									<%}%>

									<div class="custom-control custom-checkbox">
										<input
											type="checkbox"
											class="custom-control-input"
											name="remember"
											id="newaccount"
										/>
										<label class="custom-control-label" for="newaccount"
											>Giữ đăng nhập</label
										>
										<a
											href=""
											class="action-toggle"
											style="display: inline-block"
											>&nbsp;Quên mật khẩu?</a
										>
									</div>
								</div>
								<div class="col-md-12">
									<button class="btn" type="submit">Đăng nhập</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Login End -->

		<%- include('../partials/footer'); %> <%- include('../partials/script'); %>
	</body>
</html>
