<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header'); %>

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
      <div class="container-fluid">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Products</a></li>
          <li class="breadcrumb-item active">Cart</li>
        </ul>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Cart Start -->
    <div class="cart-page">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <div class="cart-page-inner">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead class="thead-dark">
                    <%if (cart.items.length) {%>
                    <tr>
                      <th>Product</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Total</th>
                      <th>Remove</th>
                    </tr>
                    <%}%>
                  </thead>
                  <tbody class="align-middle" id="cart">
                    <%if (cart.items.length) { cart.items.forEach(item => {%>
                    <tr>
                      <td>
                        <div class="img">
                          <a href="/products/<%=item.slugName%>"
                            ><img src="<%=item.thumbnail%>" alt="Image"
                          /></a>
                          <p><%=item.name%></p>
                        </div>
                      </td>
                      <td><%=item.price%></td>
                      <td>
                        <div class="qty">
                          <%if (item.quantity <= 1) {%>
                          <button
                            class="btn-minus change-val"
                            value="-1"
                            name="<%=item.slugName%>"
                            disabled
                          >
                            <i class="fa fa-minus"></i>
                          </button>
                          <%}else{%>
                          <button
                            class="btn-minus change-val"
                            value="-1"
                            name="<%=item.slugName%>"
                          >
                            <i class="fa fa-minus"></i>
                          </button>
                          <%}%>

                          <input type="text" value="<%=item.quantity%>" />
                          <button
                            class="btn-plus change-val"
                            value="1"
                            name="<%=item.slugName%>"
                          >
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                      </td>
                      <td id="<%=item.itemId%>">
                        <%=item.total.toLocaleString('vi-VN')%>
                      </td>
                      <td class="trash">
                        <button
                          class="change-val"
                          value="0"
                          name="<%=item.slugName%>"
                        >
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                    <%})}else{%>
                    <h3>No product found!</h3>
                    <h6 class="pt-3">
                      <span
                        ><a class="text-success" href="/"
                          >Continue shopping</a
                        ></span
                      >
                    </h6>
                    <%}%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="cart-page-inner">
              <div class="row">
                <div class="col-md-12">
                  <div class="coupon">
                    <input type="text" placeholder="Coupon Code" />
                    <button>Apply Code</button>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="cart-summary">
                    <div class="cart-content">
                      <h1>Cart Summary</h1>
                      <p>
                        Total cost<span id="total-cost"
                          ><%=cart.totalCost.toLocaleString('vi-VN')%></span
                        >
                      </p>
                      <%if (cart.items.length) {%>
                      <p>Shipping cost<span id="shipping-fee">25,000</span></p>
                      <%}else{%>
                      <p>Shipping cost<span id="shipping-fee">0</span></p>
                      <%}%> <%if (cart) {%>
                      <p>
                        Total quantity<span id="total-quantity"
                          ><%=cart.totalQuantity%></span
                        >
                      </p>
                      <%}else{%>
                      <p>Total quantity<span id="total-quantity">0</span></p>
                      <%}%> <%if (cart.items.length) {%>
                      <h2>
                        Total payment<span id="total-payment"
                          ><%=(cart.totalCost + 25000).toLocaleString('vi-VN',
                          )%></span
                        >
                      </h2>
                      <%}else{%>
                      <h2>Total payment<span>0</span></h2>
                      <%}%>
                    </div>
                    <form class="cart-btn" method="GET" action="/checkout">
                      <button>Update Cart</button>
                      <button type="submit">Checkout</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Cart End -->

    <%- include('../partials/footer'); %> <%- include('../partials/script'); %>
  </body>
</html>
