<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header'); %>

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
      <div class="container-fluid">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Products</a></li>
          <li class="breadcrumb-item active">Cart</li>
        </ul>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Cart Start -->
    <div class="cart-page">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <div class="cart-page-inner">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th>Product</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Total</th>
                      <th>Remove</th>
                    </tr>
                  </thead>
                  <tbody class="align-middle">
                    <%cart.items.forEach(item => {%>
                    <tr>
                      <td>
                        <div class="img">
                          <a href="/products/<%=item.slugName%>"
                            ><img src="<%=item.thumbnail%>" alt="Image"
                          /></a>
                          <p><%=item.name%></p>
                        </div>
                      </td>
                      <td><%=item.price%></td>
                      <td>
                        <div class="qty">
                          <button class="btn-minus change-val" value="-1">
                            <i class="fa fa-minus"></i>
                          </button>
                          <input type="text" value="<%=item.quantity%>" />
                          <button class="btn-plus change-val" value="1">
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                      </td>
                      <td><%=item.total.toLocaleString('vi-VN')%></td>
                      <td>
                        <button><i class="fa fa-trash"></i></button>
                      </td>
                    </tr>
                    <%})%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="cart-page-inner">
              <div class="row">
                <div class="col-md-12">
                  <div class="coupon">
                    <input type="text" placeholder="Coupon Code" />
                    <button>Apply Code</button>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="cart-summary">
                    <div class="cart-content">
                      <h1>Cart Summary</h1>
                      <p>
                        Total cost<span
                          ><%=cart.totalCost.toLocaleString('vi-VN')%></span
                        >
                      </p>
                      <p>Shipping cost<span>25,000</span></p>
                      <h2>
                        Total payment<span
                          ><%=(cart.totalCost + 25000).toLocaleString('vi-VN',
                          )%></span
                        >
                      </h2>
                    </div>
                    <div class="cart-btn">
                      <button>Update Cart</button>
                      <button>Checkout</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Cart End -->

    <%- include('../partials/footer'); %> <%- include('../partials/script'); %>
  </body>
</html>
