<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header'); %>

    <div id="container">
      <%if(msg === 'success'){%>
      <div id="success-box">
        <div class="dot"></div>
        <div class="dot two"></div>
        <div class="face">
          <div class="eye"></div>
          <div class="eye right"></div>
          <div class="mouth happy"></div>
        </div>
        <div class="shadow scale"></div>
        <div class="message">
          <h1 class="alert">Success.</h1>
          <p><%=user%></p>
        </div>
        <button class="button-box"><h1 class="green">Continue</h1></button>
      </div>
      <%}else{%>
      <div id="error-box">
        <div class="dot"></div>
        <div class="dot two"></div>
        <div class="face2">
          <div class="eye"></div>
          <div class="eye right"></div>
          <div class="mouth sad"></div>
        </div>
        <div class="shadow move"></div>
        <div class="message">
          <h1 class="alert">Error.</h1>
          <p><%=user%></p>
        </div>
        <button class="button-box"><h1 class="red">Try again</h1></button>
      </div>
    </div>
    <%}%> <%- include('../partials/footer'); %> <%-
    include('../partials/script'); %>
  </body>
</html>
