<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header'); %>

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
      <div class="container-fluid">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Products</a></li>
          <li class="breadcrumb-item active">Product Detail</li>
        </ul>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Detail Start -->
    <div class="product-detail">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-9">
            <% if (data) { %>
            <div class="product-detail-top">
              <div class="row align-items-center">
                <div class="col-md-5">
                  <div class="product-slider-single normal-slider">
                    <% data.images.forEach(src => { %>
                    <img src="<%= src %>" alt="Product Image" />
                    <% }) %>
                  </div>

                  <div class="product-slider-single-nav normal-slider">
                    <% data.images.forEach(src => { %>
                    <div class="slider-nav-img">
                      <img src="<%= src %>" alt="<%=data.name%>" />
                    </div>
                    <% }) %>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="product-content">
                    <div class="title"><h2><%= data.name %></h2></div>
                    <div class="ratting">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="price">
                      <h4>Price:</h4>
                      <p>
                        $<%= data.price %><span>$<%= data.oldPrice %></span>
                      </p>
                    </div>
                    <div class="quantity">
                      <%if (data.quantity.length){%>
                      <h4>Quantity: <%=data.quantity%></h4>
                      <%}%>
                      <div class="qty">
                        <button class="btn-minus">
                          <i class="fa fa-minus"></i>
                        </button>
                        <input type="text" value="1" />
                        <button class="btn-plus">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                    <div class="p-size">
                      <h4>SKU:</h4>
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn">
                          <%=data.code%>
                        </button>
                      </div>
                    </div>

                    <div class="p-size">
                      <h4>Views:</h4>
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn">
                          <%=data.countView%>
                        </button>
                      </div>
                    </div>

                    <div class="p-size">
                      <h4>Likes:</h4>
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn">
                          <%=data.countLike%>
                        </button>
                      </div>
                    </div>

                    <div class="action">
                      <a
                        class="btn add-to-cart"
                        href="#"
                        value="<%=data.slugName%>"
                        ><i class="fa fa-shopping-cart"></i>Add to Cart</a
                      >
                      <a class="btn" href="#"
                        ><i class="fa fa-shopping-bag"></i>Buy Now</a
                      >
                    </div>

                    <hr />
                    <div>
                      <h4>Khuyến mãi liên quan:</h4>
                      <div>
                        Nhập mã
                        <strong><%=data.promotion.code%></strong>
                        giảm thêm 5% tối đa
                        <a><%=data.promotion.desc%></a>
                        khi thanh toán qua VNPAY-QR.
                        <a href="<%=data.promotion.link%>">Xem chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row product-detail-bottom">
              <div class="col-lg-12">
                <ul class="nav nav-pills nav-justified">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      data-toggle="pill"
                      href="#description"
                      >Description</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#specification"
                      >Specification</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#reviews"
                      >Reviews (<%=data.comments.length%>)</a
                    >
                  </li>
                </ul>

                <div class="tab-content">
                  <div id="description" class="container tab-pane active">
                    <h4>Thông số kĩ thuật</h4>
                    <hr />
                    <table class="table table-bordered">
                      <tbody>
                        <%Object.keys(data.details).forEach((field, index) =>
                        {%>
                        <tr>
                          <th scope="row"><%=(index + 1)%></th>
                          <td><%=field%></td>
                          <td class="text-center"><%=data.details[field]%></td>
                        </tr>
                        <%})%>
                      </tbody>
                    </table>
                  </div>

                  <div id="specification" class="container tab-pane fade">
                    <h4>Mô tả sản phẩm</h4>
                    <hr />
                    <ul>
                      <%data.descriptions.forEach(field => {%> <%if(field.title)
                      {%>
                      <h5><%=field.title%></h5>
                      <%}%> <%if(field.content) {%>
                      <p><%=field.content%></p>
                      <%}%> <%if(field.img && field.content) {%>
                      <p><%=field.content%></p>
                      <a href="<%=field.img%>">
                        <img src="<%=field.img%>" alt="<%=field.title%>" />
                      </a>
                      <%}%>
                      <br /><br /><%})%>
                    </ul>
                  </div>
                  <div id="reviews" class="container tab-pane fade">
                    <div class="reviews-submitted">
                      <div class="reviewer">
                        Phasellus Gravida - <span>01 Jan 2020</span>
                      </div>
                      <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <p>
                        Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem
                        aperiam.
                      </p>
                    </div>
                    <div class="reviews-submit">
                      <h4>Give your Review:</h4>
                      <div class="ratting">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                      </div>
                      <div class="row form">
                        <div class="col-sm-6">
                          <input type="text" placeholder="Name" />
                        </div>
                        <div class="col-sm-6">
                          <input type="email" placeholder="Email" />
                        </div>
                        <div class="col-sm-12">
                          <textarea placeholder="Review"></textarea>
                        </div>
                        <div class="col-sm-12">
                          <button>Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <% }else{ %>
            <h1>No Product Found</h1>
            <% } %>

            <!--- related Products -->
            <% if (relatedProducts && relatedProducts.length) { %>
            <div class="product">
              <div class="section-header">
                <h3>Sản phẩm tương tự</h3>
              </div>

              <div
                class="row align-items-center product-slider product-slider-3"
              >
                <% relatedProducts.forEach(product => { %>
                <div class="col-lg-8">
                  <div class="product-item">
                    <div class="product-title">
                      <a href="/products/<%=product.slugName%>"
                        ><%= product.name %></a
                      >
                      <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                    <div class="product-image">
                      <a href="/products/<%=product.slugName%>">
                        <img
                          src="<%=product.images[0] %>"
                          alt="Product Image"
                        />
                      </a>
                      <div class="product-action">
                        <a href="#"><i class="fa fa-cart-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <a href="/products/<%= product.slugName %>"
                          ><i class="fa fa-search"></i
                        ></a>
                      </div>
                    </div>
                    <div class="product-price">
                      <h3><span>$</span><%= product.price %></h3>
                      <a class="btn" href=""
                        ><i class="fa fa-shopping-cart"></i>Buy Now</a
                      >
                    </div>
                  </div>
                </div>
                <% }) %>
              </div>
            </div>
            <% } %>
          </div>

          <%- include('../partials/productSidebar', {col: 3, type: data.type,
          categories, ourBrands}); %>
        </div>
      </div>
    </div>
    <!-- Product Detail End -->

    <!-- Brand Start -->
    <div class="brand">
      <div class="container-fluid">
        <div class="brand-slider">
          <div class="brand-item"><img src="img/brand-1.png" alt="" /></div>
          <div class="brand-item"><img src="img/brand-2.png" alt="" /></div>
          <div class="brand-item"><img src="img/brand-3.png" alt="" /></div>
          <div class="brand-item"><img src="img/brand-4.png" alt="" /></div>
          <div class="brand-item"><img src="img/brand-5.png" alt="" /></div>
          <div class="brand-item"><img src="img/brand-6.png" alt="" /></div>
        </div>
      </div>
    </div>
    <!-- Brand End -->

    <%- include('../partials/footer'); %> <%- include('../partials/script'); %>
  </body>
</html>
